.counsellor_dashboard-custom-1 {
    background-color: rgba(59, 130, 246, 0.1);
}

.counsellor_dashboard-custom-2 {
    background-color: rgba(16, 185, 129, 0.1);
}

.counsellor_dashboard-custom-3 {
    background-color: rgba(6, 182, 212, 0.1);
}

.counsellor_dashboard-custom-4 {
    background-color: rgba(245, 158, 11, 0.1);
}
