table {
    border-collapse: collapse;
    width: 100%;
    font-family: helvetica;
    font-size: 10pt;
}
th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}
.bold {
    font-weight: bold;
}
.left {
    text-align: left;
}
.no-border {
    border: none;
}