.card-rounded-15 {
    border-radius: 15px !important;
}

.btn-rounded-8 {
    border-radius: 8px !important;
}

.btn-rounded-12-bold {
    border-radius: 12px !important;
    font-weight: 600 !important;
}

.w-80px {
    width: 80px !important;
}
