/* Styles for portal/modules/payments/token_receipt.php */

body {
                font-family: Arial, sans-serif;
                -webkit-print-color-adjust: exact !important;
                print-color-adjust: exact !important;
            }

            .main {
                max-width: 840px;
                margin: 0 auto;
                padding: 20px;
                border: 2px solid #000;
                position: relative;
                box-shadow: 0.1rem 0.1rem 0;
            }

            .header {
                display: flex;
            }

            .logo {
                height: 80px;
                align-self: center;
            }

            .title {
                margin-left: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 100px;
                text-transform: uppercase;
            }

            .name {
                font-size: 27px;
                font-weight: bold;
            }

            .address {
                font-size: 15px;
            }

            .tag {
                display: block;
                position: absolute;
                right: 1px;
                top: 1px;
                padding: 5px;
                background-color: #000;
                color: #fff;
                text-transform: uppercase;
            }

            .print-button {
                margin: 20px;
                padding: 10px;
                font-size: 20px;
                background-color: #007bff;
                border-radius: 5px;
                font-weight: 600;
                color: white;
            }

            .info {
                display: flex;
                flex-direction: column;
                justify-content: end;
                align-items: end;
            }

            .student {
                display: flex;
                flex-direction: column;
            }

            .student-1 {
                display: flex;
                justify-content: space-between;
                font-size: 19px;
                margin-bottom: 8px;
            }

            table {
                font-size: 19px;
                width: 100%;
                border: 2px solid black;
                border-collapse: collapse;
            }

            thead,
            tfoot {
                text-transform: uppercase;
                font-weight: bold;
            }

            thead td,
            tfoot td {

                padding-left: 5px;
            }

            tr,
            td {
                border: 2px solid black;
            }

            .line {
                border: 2px solid black;
            }

            .table-row {
                margin: 0;
                margin-left: 5px;
                margin-top: 5px;
                margin-bottom: 5px;
            }

            .mb-30 {
                margin-bottom: 50px;
            }

            .foot-boottm {
                font-weight: normal;
                display: flex;
                font-size: 19px;
                text-transform: none;
                justify-content: space-between;
                border: 1px solid;
                border-top: 0px;
            }

            .title-main {
                width: 100%
            }

            .pr1 {
                margin-bottom: 50px;
            }

            @media screen and (max-width: 400px) {
                .header {
                    flex-wrap: wrap;
                }


                table {
                    overflow-x: auto;
                }

                .tag {
                    display: none;
                }
            }

            @media print {
                @page {
                    margin: 5px;
                }

                .print-button {
                    display: none;
                }

                .main {
                    margin-top: 20px;
                }

                .pr1 {
                    page-break-after: always;

                }
            }
