/* Styles for portal/modules/settings/whatsapp-message-logs.php */

.tiny {
            font-size: 0.75rem;
        }

        .uppercase {
            text-transform: uppercase;
        }

        .col-md-5th {
            flex: 0 0 auto;
            width: 20%;
        }

        @media (max-width: 991.98px) {
            .col-md-5th {
                width: 33.333%;
            }
        }

        @media (max-width: 767.98px) {
            .col-md-5th {
                width: 50%;
            }
        }
