/* Module: students | File: review-division-request.css */

.btn-outline-success:has(input:checked),
.btn-outline-danger:has(input:checked),
.btn-outline-info:has(input:checked) {
    color: white !important;
}

.btn-outline-success:has(input:checked) {
    background-color: #198754;
}

.btn-outline-danger:has(input:checked) {
    background-color: #dc3545;
}

.btn-outline-info:has(input:checked) {
    background-color: #0dcaf0;
}
